/********** make view color bullet priority */
.bullet-make {
    display: inline-block;
    content: "&#8226";
    position: relative;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 1rem;
    z-index: 1;
}


.bullet-color-red {
    background-color: #ed4c5c;
}

.bullet-color-yellow {
    background-color: #f8a541;
}

.bullet-color-green {
    background-color: #00a790;
}

.bullet-color-blue {
    background-color: #428bc1;
}

.bullet-color-purple {
    background-color: #8942c1;
}