/* decraltion for first render class dinamic tailwind css */

/* 2.4rem */
.left-\[calc\(1\*2\.4rem\)\] {
    left: calc(1* 2.4rem);
}

.left-\[calc\(2\*2\.4rem\)\] {
    left: calc(2* 2.4rem);
}

.left-\[calc\(3\*2\.4rem\)\] {
    left: calc(3* 2.4rem);
}

.left-\[calc\(4\*2\.4rem\)\] {
    left: calc(4* 2.4rem);
}

.left-\[calc\(5\*2\.4rem\)\] {
    left: calc(5* 2.4rem);
}

.left-\[calc\(6\*2\.4rem\)\] {
    left: calc(6* 2.4rem);
}

.left-\[calc\(7\*2\.4rem\)\] {
    left: calc(7* 2.4rem);
}

.left-\[calc\(8\*2\.4rem\)\] {
    left: calc(8* 2.4rem);
}

.left-\[calc\(9\*2\.4rem\)\] {
    left: calc(9* 2.4rem);
}

.left-\[calc\(10\*2\.4rem\)\] {
    left: calc(10* 2.4rem);
}


/* 2.2rem */
.left-\[calc\(1\*2\.2rem\)\] {
    left: calc(1* 2.2rem);
}

.left-\[calc\(2\*2\.2rem\)\] {
    left: calc(2* 2.2rem);
}

.left-\[calc\(3\*2\.2rem\)\] {
    left: calc(3* 2.2rem);
}

.left-\[calc\(4\*2\.2rem\)\] {
    left: calc(4* 2.2rem);
}

.left-\[calc\(5\*2\.2rem\)\] {
    left: calc(5* 2.2rem);
}

.left-\[calc\(6\*2\.2rem\)\] {
    left: calc(6* 2.2rem);
}

.left-\[calc\(7\*2\.2rem\)\] {
    left: calc(7* 2.2rem);
}

.left-\[calc\(8\*2\.2rem\)\] {
    left: calc(8* 2.2rem);
}

.left-\[calc\(9\*2\.2rem\)\] {
    left: calc(9* 2.2rem);
}

.left-\[calc\(10\*2\.2rem\)\] {
    left: calc(10* 2.2rem);
}

/* 2rem */
.left-\[calc\(1\*2rem\)\] {
    left: calc(1* 2rem);
}

.left-\[calc\(2\*2rem\)\] {
    left: calc(2* 2rem);
}

.left-\[calc\(3\*2rem\)\] {
    left: calc(3* 2rem);
}

.left-\[calc\(4\*2rem\)\] {
    left: calc(4* 2rem);
}

.left-\[calc\(5\*2rem\)\] {
    left: calc(5* 2rem);
}

.left-\[calc\(6\*2rem\)\] {
    left: calc(6* 2rem);
}

.left-\[calc\(7\*2rem\)\] {
    left: calc(7* 2rem);
}

.left-\[calc\(8\*2rem\)\] {
    left: calc(8* 2rem);
}

.left-\[calc\(9\*2rem\)\] {
    left: calc(9* 2rem);
}

.left-\[calc\(10\*2rem\)\] {
    left: calc(10* 2rem);
}

/* 1.8rem */
.left-\[calc\(1\*1\.8rem\)\] {
    left: calc(1* 1.8rem);
}

.left-\[calc\(2\*1\.8rem\)\] {
    left: calc(2* 1.8rem);
}

.left-\[calc\(3\*1\.8rem\)\] {
    left: calc(3* 1.8rem);
}

.left-\[calc\(4\*1\.8rem\)\] {
    left: calc(4* 1.8rem);
}

.left-\[calc\(5\*1\.8rem\)\] {
    left: calc(5* 1.8rem);
}

.left-\[calc\(6\*1\.8rem\)\] {
    left: calc(6* 1.8rem);
}

.left-\[calc\(7\*1\.8rem\)\] {
    left: calc(7* 1.8rem);
}

.left-\[calc\(8\*1\.8rem\)\] {
    left: calc(8* 1.8rem);
}

.left-\[calc\(9\*1\.8rem\)\] {
    left: calc(9* 1.8rem);
}

.left-\[calc\(10\*1\.8rem\)\] {
    left: calc(10* 1.8rem);
}

/* 1.6rem */

